<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data Analysis</title>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <!--<script th:href="@{/static/js/admin/echarts.js}" src="/js/admin/echarts.js"></script>-->
    <script th:src="@{/static/js/admin/echarts.js}"></script>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 100%;height:615px;">
    <img th:src="@{/static/images/welcome.jpg}" style="width: 100%;height: 100%;">
</div>
<script type="text/javascript">
</script>
</body>
</html>